*{
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #3333;
}
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}